@charset "utf-8";

/* aside:gnb */
#gnb{background:#42495c;height:350px;width:155px;float:left}
#gnb h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb .gnb_1dli {word-wrap: break-word;}
#gnb .gnb_1dli_on {color:#fff;text-decoration:none}
#gnb .gnb_1da {display:block;padding:0 10px;height:35px;line-height:35px;font-weight:bold;text-decoration:none;color:#fff;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#gnb .gnb_1da:hover{background:#283045}
#gnb .gnb_1dli_on .gnb_1dam {background:url('img/gnb_bg.gif') #283045 center right no-repeat;color:#fff;text-decoration:none}
#gnb .gnb_2dul {display:none;z-index:1000;position:absolute;border:1px solid #787f89;height:348px;}
#gnb .gnb_1dli_over .gnb_2dul,#gnb  .gnb_1dli_over2 .gnb_2dul {display:block;top:0;left:155px;background:#fff}
#gnb .gnb_2da {display:none}
#gnb .gnb_1dli_over .gnb_2da {display:block;padding:5px 0;font-size:0.92em;color:#6d6d6d}
#gnb .gnb_1dli_over .gnb_2da:hover{color:#c92033}
#gnb  .gnb_2ul_tit{color:#000}
.gnb_2dul_left{float:left;width:140px;padding:15px;}
.gnb_2dul_right{float:left;width:242px;border-left:1px solid #ddd;padding:13px 15px;}
.gnb_2dul_left .gnb_2ul_tit{border-bottom:1px solid #bfbfbf;display:block;padding-bottom:10px;}
.gnb_2dul_left ul{padding:5px 0}

/* 오늘 본 상품 */
#stv {z-index:1001;position:absolute;top:0;right:-80px;width:67px}
#stv_list {border-top:0;width:67px}
#stv_list h2 {padding:10px 0 ;background:#42495c;text-align:center;letter-spacing:-0.1em;font-weight:normal;font-size:0.92em;color:#fff}
#stv_pg {display:block;margin: 0;color:#888}
.today_wr{;border:1px solid #bababa;background:#fff;margin-bottom:20px}
#stv_ul {text-align:center;border-top:0;margin:0 0 ;padding:5px 0;list-style:none;}
.stv_item {position:relative;display:none;text-align:center;word-break:break-all;padding:3px 6px;width:52px;}
.stv_item a{border:1px solid #ccc;display:inline-block}
.stv_item a:hover{border:1px solid #606060}
.stv_item img {}
.stv_if{display:none;position:absolute;top:3px;right:57px;font-size:0.92em;width:100px;background:#606060;height:52px;color:#fff;text-align:center;padding:0 10px;text-align:left;line-height:20px}
.stv_name{display:block;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;margin-top:6px}
#stv_nb {margin:0;padding:0;border-top:1px solid #e9e9e9;background:#f2f5f9;list-style:none}
#stv_nb li {text-align:center}
#stv_nb a {display:block}
#top_btn{background:url(img/top_btn.gif) no-repeat 50% 50% #fff;text-indent:-999px;overflow:hidden;width:67px;height:35px;border:1px solid #bababa;padding:10px 0}
.stv_btn_pg{position:relative;text-align:center;line-height:17px;font-size:0.92em;padding-bottom:10px}
#stv_btn {text-align:center;zoom:1}
#stv_btn:after {display:block;visibility:hidden;clear:both;content:""}
#stv_btn #up {background:url(img/pv_btn_1.gif) no-repeat;width:13px;height:17px;;text-indent:-999px;border:0;overflow:hidden;position:absolute;top:0;left:5px}
#stv_btn #down {background:url(img/nx_btn_1.gif) no-repeat;width:13px;height:17px;;text-indent:-999px;border:0;overflow:hidden;position:absolute;top:0;right:5px}
.today_wr .no-item{padding:50px 0;text-align:center;color:#aaa;font-size:0.92em}

/*상단배너*/
#sbn_side{border-bottom:1px solid #ddd;position:relative}
#sbn_side:after {display:block;visibility:hidden;clear:both;content:""}
#sbn_side h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sbn_side .banner_img{background-position:50% 50%;width:100%;display:block}
#sbn_side .custom-navigation {margin:0 auto;width:1000px;position:relative}
#sbn_side .custom-navigation .flex-prev{position:absolute;top:10px;left:0;z-index:99}
#sbn_side .custom-navigation .flex-next{position:absolute;top:10px;left:15px;z-index:99}
#sbn_side_close{position:absolute;top:50%;right:20px;margin-top:-10px;z-index:99}

/*메인배너*/
#sbn_idx{width:845px;float:left;position:relative}
#sbn_idx  h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}

/*이벤트*/
#sev{position:relative;margin:0px 0 20px;padding-top:10px}
#sev h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sev .slides li{border:1px solid #ddd;height:145px;text-align:center;background:#fff;vertical-align:middle}
#sev .slides li img{width:100%;height:100%}
#sev .slides li .sev_text{line-height:143px;}
#sev .slides #sev_empty{line-height:143px;color:#999;}
/* ##### main(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {position:relative;padding:0;zoom:1}
.sct_wrap .sctrl {position:absolute;top:0;right:0} /* 애니메이션 효과 사용 시 재생 정지 버튼 등 */
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 20px;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 {float:left;margin:0 20px 0 0;padding:0;line-height:1em}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap_hdesc {float:left;margin:0;padding:0;color:#777;line-height:1em}

#sct {clear:both}

.sct {clear:both;margin:0;padding:0;list-style:none;zoom:1}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative}
.sct_noitem {padding:100px 0 150px;text-align:center;color:#666}
.sct img {position:relative} /* 리스트뷰 갤러리뷰 변경 시 ie6,7 에서 이미지 사라지는 문제 해결하기 위해 */
.sct_icon img {margin:0 1px 0 0}
.sct_sns a {display:inline-block;margin:0 2px }

/* 재생/정지/이전/다음 버튼 */
.sctrl {margin:0;padding:0;list-style:none;zoom:1}
.sctrl:after {display:block;visibility:hidden;clear:both;content:""}
.sctrl li {position:relative;float:left;margin:0 0 0 -1px}
.sctrl button {position:relative;margin:0;padding:0;width:21px;height:21px;border:0;cursor:pointer;overflow:hidden}
.sctrl button span {position:absolute;top:0;left:0;width:19px;height:19px;border:1px solid #ccc;background:url('img/is_button.gif')}
.sctrl button.sctrl_play span {background-position:-60px 0}
.sctrl button.sctrl_play span.sctrl_on {background-position:-60px -30px}
.sctrl button.sctrl_stop span {background-position:-90px 0}
.sctrl button.sctrl_stop span.sctrl_on {background-position:-90px -30px}
.sctrl button.sctrl_prev span {background-position:-120px 0}
.sctrl button.sctrl_prev span.sctrl_on {background-position:-120px -30px}
.sctrl button.sctrl_next span {background-position:-150px 0}
.sctrl button.sctrl_next span.sctrl_on {background-position:-150px -30px}

/* 상품 목록 스킨 10 */
.sct_10 .sct_li {position:relative;float:left;margin:0 9px 10px 0;border:1px solid #ddd;background:#fff;}
.sct_10 .sct_li:hover{border-color:#c92033;}
.sct_10 .sct_last {margin:0 0 10px !important}
.sct_10 .sct_clear {clear:both}
.sct_10 .sct_a {display:inline-block;position:relative;text-decoration:none}
.sct_10 .sct_a:focus, .sct_10 .sct_a:hover {text-decoration:none}
.sct_10 .sct_img {margin:0 0 10px;border-bottom:1px solid #ddd}
.sct_10 .sct_txt a{margin:0 10px 5px;font-weight:bold;font-size:1.167em;display:block;height:40px;overflow:hidden;line-height:20px;}
.sct_10 .icon_btn_wr{padding:0 10px;border-top:1px solid #ddd }
.sct_10 .sct_icon {;height:35px;line-height:35px;}
.sct_10 .sct_id {display:block;margin:0 0 5px}
.sct_10 .sct_basic {margin:0 10px 10px;color:#777}
.sct_10 .sct_cost {display:inline-block;margin:0  10px 10px;font-weight:bold;color:#c92033;height:20px;font-size:1.17em}
.sct_10 .sct_cost strike {display:inline-block;margin:0 0 5px;color:#999;font-weight:normal;font-size:12px}
.sct_10 .btn_wr{position:absolute;bottom:0;right:0;padding:0 10px;vertical-align:middle}
.sct_10 .btn_wr .sct_sns_btn,.sct_10 .btn_wr .sct_wish_btn{background:none;border:0;padding:0;width:20px;height:35px;line-height:35px;color:#9e9e9e;width:22px;outline:0}
.sct_10 .btn_wr .sct_newtab_btn{display:inline-block;text-align:center;vertical-align:middle;height:35px;line-height:35px;color:#9e9e9e;;width:22px}
.sct_10 .btn_wr .sct_newtab_btn:hover,.sct_10 .btn_wr button:hover{color:#c92033}
.sct_10 .btn_wr i{font-size:14px;}
.sct_10 .sct_sns {display:none;position:absolute;right:0;z-index:99;padding:10px 0;text-align:center;background:#fff;border:1px solid #000;width:90px}
.sct_10 .sct_sns:before {content: "";position: absolute;top: -8px;left: 13px;;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #000 transparent;}
.sct_10 .sct_sns:after {content: "";position: absolute;top: -7px;left:13px;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #fff transparent;}

/* 상품 목록 스킨 20 */
.sct_20 .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.sct_20 .sct_last {margin:0 0 15px !important}
.sct_20 .sct_clear {clear:both}
.sct_20 .sct_a {display:block;position:relative;text-decoration:none}
.sct_20 .sct_a:focus, .sct_20 .sct_a:hover {text-decoration:none}
.sct_20 .sct_img {}
.sct_20 .sct_icon {position:absolute;top:10px;left:-5px;margin:0 !important}
.sct_20 .sct_icon img {display:block;margin:0 0 3px}
.sct_20 .sct_id {display:block;padding:5px 10px 0;background:#f2f5f9}
.sct_20 .sct_txt {padding:10px;background:#f2f5f9}
.sct_20 .sct_basic {padding:0 10px 5px;background:#f2f5f9;line-height:1.5em}
.sct_20 .sct_cost {display:block;padding:0 10px 10px;background:#f2f5f9;font-weight:bold;}
.sct_20 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_20 .sct_sns {position:absolute;bottom:10px;right:10px}

/* 상품 목록 스킨 30 */
.sct_30 .sct_li {position:relative;float:left;margin:0 16px 15px 0;border:1px solid #e9e9e9;background:#f5f6fa}
.sct_30 .sct_last {margin:0 0 15px !important}
.sct_30 .sct_clear {clear:both}
.sct_30 .sct_arw_toleft {display:block;z-index:2;position:absolute;top:20px;left:221px;width:10px;height:19px;background:url('img/icon_arw_toleft.gif') no-repeat}
.sct_30 .sct_a {text-decoration:none}
.sct_30 .sct_img img {position:absolute;top:0;left:0}
.sct_30 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_30 .sct_icon img {display:block;margin:0 0 3px}
.sct_30 .sct_txt {display:inline-block;margin:0 0 20px}
.sct_30 .sct_basic {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_30 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_30 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_30 .sct_sns {position:absolute;bottom:20px;right:10px}

/* 상품 목록 스킨 40 */
.sct_40 .sct_li {position:relative;margin:0 0 16px 0;border:1px solid #e9e9e9;background:#f5f6fa}
.sct_40 .sct_a {text-decoration:none}
.sct_40 .sct_a:focus, .sct_40 .sct_a:hover {text-decoration:none}
.sct_40 .sct_img {position:absolute;top:0;left:0}
.sct_40 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_40 .sct_icon img {display:block;margin:0 0 4px}
.sct_40 .sct_txt {display:inline-block;margin:0 0 20px}
.sct_40 .sct_basic {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_40 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_40 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_40 .sct_rel {position:absolute;bottom:20px;right:20px}
.sct_40 .sct_rel_ul {margin:0;padding:0;list-style:none}
.sct_40 .sct_rel_li {float:left;margin:0 0 0 10px}
.sct_40 .sct_sns {padding:10px 0 0}

/* 개인결제 목록 */
.sct_pv .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.sct_pv .sct_last {margin:0 0 15px !important}
.sct_pv .sct_clear {clear:both}
.sct_pv .sct_a {display:inline-block;position:relative;text-decoration:none}
.sct_pv .sct_a:focus, .sct_pv .sct_a:hover {text-decoration:none}
.sct_pv .sct_img {margin:0 0 10px}
.sct_pv .sct_txt {margin:0 0 5px}
.sct_pv .sct_icon {margin:0 0 10px}
.sct_pv .sct_id {display:block;margin:0 0 5px}
.sct_pv .sct_basic {margin:0 0 10px}
.sct_pv .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_pv .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.sct_pv .sct_sns {}

/* 메인 상품 목록 스킨 20 */
.smt_20 {position:relative;background:#fff;padding:20px;border:1px solid #ddd;border-top:0;min-height:230px}
.smt_20 ul:after {display:block;visibility:hidden;clear:both;content:""}
.smt_20 .sct_li {position:relative;float:left;margin:0 8px}
.smt_20 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_20 .sct_a:focus, .smt_20 .sct_a:hover {text-decoration:none}
.smt_20 .sct_img {margin:0 0 10px}
.smt_20 .sct_txt {margin:0 0 5px;display:block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.smt_20 .sct_icon {margin:0 0 10px}
.smt_20 .sct_id {display:block;margin:0 0 5px}
.smt_20 .sct_basic {margin:0 0 10px}
.smt_20 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_20 .sct_cost strike {display:inline-block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_20 .sct_sns {}

/* 메인 상품 목록 스킨 30 */
.smt_30 {position:relative;overflow-x:hidden}
.smt_30 .sct_ul {position:absolute;top:0;left:765px;margin:0;padding:0;width:765px;list-style:none;zoom:1}
.smt_30 .sct_ul:after {display:block;visibility:hidden;clear:both;content:""}
.smt_30 .sct_ul_first {display:block;left:0}
.smt_30 .sct_li {position:relative;float:left;margin-right:25px}
.smt_30 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_30 .sct_a:focus, .smt_30 .sct_a:hover {text-decoration:none}
.smt_30 .sct_img {margin:0 0 10px}
.smt_30 .sct_txt {margin:0 0 5px}
.smt_30 .sct_icon {margin:0 0 10px}
.smt_30 .sct_id {display:block;margin:0 0 5px}
.smt_30 .sct_basic {margin:0 0 10px}
.smt_30 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_30 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_30 .sct_sns {}

/* 메인 상품 목록 스킨 40 */
.smt_40 {clear:both;position:relative}
.smt_40 .sct_ul {display:none;position:absolute;top:0;left:0;margin:0;padding:0;list-style:none}
.smt_40 .sct_ul_first {display:block}
.smt_40 .sct_li {position:relative;float:left;margin:0 25px 15px 0}
.smt_40 .sct_last {margin:0 0 15px !important}
.smt_40 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_40 .sct_a:focus, .smt_40 .sct_a:hover {text-decoration:none}
.smt_40 .sct_img {margin:0 0 10px}
.smt_40 .sct_txt {margin:0 0 5px}
.smt_40 .sct_icon {margin:0 0 10px}
.smt_40 .sct_id {display:block;margin:0 0 5px}
.smt_40 .sct_basic {margin:0 0 10px}
.smt_40 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_40 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_40 .sct_sns {}

/* 메인 상품 목록 스킨 50 */
.smt_50 {position:relative}
.smt_50 .sct_ul {display:none;position:absolute;top:0;left:0;height:306px;margin:0;padding:0;list-style:none;overflow-y:hidden}
.smt_50 .sct_ul_first {display:block}
.smt_50 .sct_li {position:relative;float:left;position:relative;top:-306px;margin:0 25px 15px 0}
.smt_50 .sct_last {margin:0 0 15px}
.smt_50 .sct_a {display:inline-block;position:relative;text-decoration:none}
.smt_50 .sct_a:focus, .smt_50 .sct_a:hover {text-decoration:none}
.smt_50 .sct_img {margin:0 0 10px}
.smt_50 .sct_txt {margin:0 0 5px}
.smt_50 .sct_icon {margin:0 0 10px}
.smt_50 .sct_id {display:block;margin:0 0 5px}
.smt_50 .sct_basic {margin:0 0 10px}
.smt_50 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_50 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.smt_50 .sct_sns {}

/* 관련상품 목록 스킨 10 */
.scr_10 .sct_li {position:relative;float:left;margin-left:14px}
.scr_10 .sct_clear {clear:both;margin-left:0}
.scr_10 .sct_a {display:inline-block;position:relative;text-decoration:none}
.scr_10 .sct_a:focus, .sct_10 .sct_a:hover {text-decoration:none}
.scr_10 .sct_img {margin:0 0 10px}
.scr_10 .sct_txt {margin:0 0 5px}
.scr_10 .sct_icon {margin:0 0 10px}
.scr_10 .sct_id {display:block;margin:0 0 5px}
.scr_10 .sct_basic {margin:0 0 10px}
.scr_10 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.scr_10 .sct_cost strike {display:block;margin:0 0 5px;color:#999;font-weight:normal}
.scr_10 .sct_sns {}

/* ##### main(nn).skin.php, list.(nn).skin..php 공통 적용 끝 ##### */

/* 상품 목록 */
#sct {}
.sct_admin {margin:0 0 10px;text-align:right}

/* 상품 목록 현재 위치 */
#sct_location {position:absolute;top:5px;right:0;}
#sct_location a {display:inline-block;padding:10px 10px 8px;text-decoration:none;letter-spacing:0 !important;color:#666;font-size:0.92em}
.sct_here {font-weight:bold;color:#000}
.sct_bg {padding-right:15px !important;background:url('img/navi_bg.gif') right 50% no-repeat}
#sct_location i{font-size:13px}

/* 상품 목록 카테고리 목록 */
.sct_ct {}
.sct_ct h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sct_ct ul {zoom:1}
.sct_ct ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_ct a {text-decoration:none}
.sct_ct_parent {font-weight:bold}
.sct_ct_here {color:#ff3600 !important}

#sct_ct_1{border-left:1px solid #ddd;margin:10px 0}
#sct_ct_1 li {float:left;width:165px;border:1px solid #ddd;background:#fff;border-left:0;margin-top:-1px}
#sct_ct_1 li a{display:block;padding:10px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#sct_ct_1 li a:hover{background:#c92033;color:#fff}
#sct_ct_1 li:nth-child(6n+1){width:168px}

#sct_ct_2 li {margin:0 0 10px}
#sct_ct_2 a {display:inline-block;width:120px}
#sct_ct_3 li {float:left;margin:0 10px 10px 0;width:120px}

/* 상품 정렬 리스트 스타일 선택 공통 */
#sct_sortlst {zoom:1;text-align:right}
#sct_sortlst:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 정렬 */
#sct_sort {text-align:right;margin:10px 0;zoom:1}
#sct_sort:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
/*#ssch_sort{border:1px solid #bababa;height:25px}*/
/* 상품 리스트 스타일 선택 */
#sct_lst {float:right;margin:0 0 10px;padding:0;list-style:none;zoom:1}
#sct_lst:after {display:block;visibility:hidden;clear:both;content:""}
#sct_lst li {position:relative;float:left;margin:0 0 0 -1px}
#sct_lst button {position:relative;margin:0;padding:0;width:25px;height:25px;border:0;cursor:pointer;overflow:hidden}
#sct_lst button span {position:absolute;top:0;left:0;width:23px;height:23px;border:1px solid #ccc;background:url('img/is_button.gif')}
#sct_lst button.sct_lst_list span {background-position:0 0}
#sct_lst button.sct_lst_list span.sct_lst_on {background-position:0 -30px}
#sct_lst button.sct_lst_gallery span {background-position:-30px 0}
#sct_lst button.sct_lst_gallery span.sct_lst_on {background-position:-30px -30px}

/* 상품 상세보기 */
#sit {padding:20px 0 0;}
.sit_admin {text-align:right}
.sit_empty {padding:50px 0;color:#888;text-align:center}

/* 상품 상세보기 - 개요 */
#sit_ov_wrap {margin:0 0 20px;background:#fff;height:auto;position:relative;zoom:1}
#sit_ov_wrap:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 상세보기 - 이미지 미리보기 */
#sit_pvi {float:left;padding:30px;width:545px}
#sit_pvi_big {margin:0 0 10px;text-align:center}
#sit_pvi_big a {display:none}
#sit_pvi_big a.visible {display:block}
#sit_pvi_big img {}
#sit_pvi_thumb {margin:0;padding:0;list-style:none;zoom:1}
#sit_pvi_thumb:after {display:block;visibility:hidden;clear:both;content:""}
#sit_pvi_thumb li {float:left;margin:0 10px 10px 0}
#sit_pvi_thumb img {}

#sit_pvi_nwbig {padding:10px 0;text-align:center}
#sit_pvi_nwbig span {display:none}
#sit_pvi_nwbig span.visible {display:inline}
#sit_pvi_nw ul {margin:0 0 20px;padding:0 10px;list-style:none;zoom:1}
#sit_pvi_nw ul:after {display:block;visibility:hidden;clear:both;content:""}
#sit_pvi_nw li {float:left;margin:0 0 1px 1px}
#sit_pvi_nw li img {width:60px;height:60px}

/* 상품 상세보기 - 간략정보 및 구매기능 */
#sit_ov {position:relative;float:right;padding:50px 30px 15px;width:334px;min-height:630px;border-left:1px solid #f0f1f3;height:100%;}
#sit_ov h3 {margin:0 0 10px}

#sit_title {margin:10px 0 5px;font-size:1.3em;text-align:center;}
#sit_desc {margin: 5px 0;padding:0;color:#999;text-align:center}
#sit_opt_info {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

#sit_star {text-align:center;margin:5px 0}
#sit_share{position:absolute;top:10px;right:10px}
.share_btn{background:none;border:1px solid #ddd;border-radius:50%;width:40px;height:40px}
.share_btn:hover{background:#f3f3f3;color:#c92033}
.share_area{display:none;position:absolute;right:0;width:100px;padding:10px;background:#fff;border:1px solid #000;text-align:center;;}
.share_area:before {content: "";position: absolute;top: -8px;right: 13px;;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #000 transparent;}
.share_area:after {content: "";position: absolute;top: -7px;right:13px;width: 0;height: 0;border-style: solid;border-width: 0 6px 8px 6px;border-color: transparent transparent #fff transparent;}

#sit_btn_rec{display:inline-block;width:20px;height:20px;text-align:center;vertical-align:middle;line-height:20px }

.sit_ov_tbl {margin:20px 0 0;padding:10px 0;width:100%;border:0;border-collapse:collapse;border-top:1px solid #ddd;font-size:0.92em;color:#6f6f6f}
.sit_ov_tbl th {font-weight:normal;text-align:left;padding:4px}
.sit_ov_tbl td {padding:4px ;}
.sit_ov_ro {padding:2px 2px 3px;border:0;background:transparent;text-align:right;vertical-align:middle}
.sit_ov_opt {padding:2px 2px 3px;border:0;background:transparent;vertical-align:middle}
.sit_ov_input {margin:0 1px 0 0;padding:2px 2px 3px;border:1px solid #b8c9c2;background:transparent;vertical-align:middle}
#sit_ov_tbl button {margin:0 1px 0 0}

.sit_sel_btn {position:relative} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {position:absolute;top:-51px;right:0 !important;right:15px}

#sit_sel_option h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_sel_option .sit_opt_list{padding:10px 150px 10px 0;min-height:25px;;position:relative;border-top:1px solid #ddd}
#sit_sel_option .sit_opt_subj{;display:inline-block;padding:5px; line-height:15px}
#sit_sel_option .sit_opt_prc{position:absolute;top:10px;right:70px;line-height:25px;color:#777;font-size:0.92em}

#sit_opt_added .sit_spl_list{padding:10px 150px 10px 0;min-height:25px;;position:relative;border-top:1px solid #ddd}
#sit_opt_added .sit_opt_subj{;display:inline-block;padding:5px; line-height:15px}
#sit_opt_added .sit_opt_prc{position:absolute;top:10px;right:70px;line-height:25px;color:#777;font-size:0.92em}

.sit_sl_opt{border-top:1px solid #ddd;padding:20px 0 10px}
.sit_sl_opt table{width:100%;border-collapse:collapse;}
.sit_sl_opt table th{text-align:left;font-weight:normal;padding:5px;color:#666;}
.sit_sl_opt table td{text-align:left;font-weight:normal;padding:5px;color:#666;}
.sit_sl_opt table td select{width:100%;}

#sit_tot_price {margin:0 0 10px;font-size:1.3em;font-weight:bold;border-top:1px solid #000;padding:10px 0;text-align:right;}
#sit_tot_price:after {display:block;visibility:hidden;clear:both;content:""}
#sit_tot_price span{float:left;font-size:12px}

#sit_ov_soldout {border-top:1px solid #000;padding:20px 0;color:#ff3061;font-weight:bold;text-align:center}


#sit_ov_btn {text-align:center;letter-spacing:-3px}
#sit_ov_btn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_ov_btn input {display:inline-block;width:164px;height:45px;border:0;font-weight:bold;text-align:center;text-decoration:none;letter-spacing:-0.1em;cursor:pointer}
#sit_ov_btn #sit_btn_buy {background:#42495c;color:#fff;float:left;}
#sit_ov_btn #sit_btn_cart{background:#c92033;color:#fff;width:100%;margin-bottom:3px;}
#sit_ov_btn #sit_btn_wish {border:1px solid #d0d4d9;float:right;display:inline-block;width:164px;height:43px;font-weight:bold;vertical-align:middle;text-align:center;text-decoration:none;letter-spacing:-0.1em;line-height:43px;cursor:pointer;color:#666}
#sit_btn_rec {background:#888;color:#fff}
#sit_btn_sms{background:#42495c;color:#fff;display:inline-block;width:164px;height:45px;line-height:45px;border:0;font-weight:bold;text-align:center;text-decoration:none;letter-spacing:-0.1em;cursor:pointer}
#sit_event {margin:20px 0 0;border-top:1px solid #e5e5e5;padding:20px 0 10px;}
#sit_event h2{font-weight:normal;margin-bottom:10px}
#sit_event li{border:1px solid #ddd;margin:5px 0;width:325px}
#sit_event li img{width:100%;height:auto}

/* 상품 재입고 알림 (SMS) */
#sit_sms_new {}
#sit_sms_new #sms_agree {padding:10px 0;text-align:right}

/* 상품 상세보기 - 다른 상품 보기 */
#sit_siblings {clear:both;padding:0 0 20px;text-align:center}
#sit_siblings:after {display:block;visibility:hidden;clear:both;content:""}
#sit_siblings h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sit_siblings a {display:inline-block;padding:8px 12px;border:1px solid #ddd;background:#fff}
#sit_siblings a#siblings_prev {float:left;margin:0}
#sit_siblings a#siblings_next {float:right;margin:0 }
#sit_siblings a span {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}

/* 상품 상세보기 - 상품정보 */
#sit_inf {background:#fff;margin:20px 0;padding:30px;}
#sit_inf h2 {margin:0 0 10px}
#sit_inf h3 {position:absolute;font-size:0;line-height:0;content:""}

#sit_inf_basic {margin:0 0 10px}
#sit_inf_explan {margin:0 0 10px;width:auto !important;width:718px;overflow:hidden} /* ie6 미대응시 #sit_inf_explan {margin:0 0 10px} 만으로 충분 */
#sit_inf_explan img {max-width:100%;height:auto}

#sit_inf_open {width:100%;border:0;border-collapse:collapse}
#sit_inf_open th {padding:7px 10px;border:1px solid #eee;background:#f6f6f6;vertical-align:top;text-align:left;font-size:0.92em;color:#7c7c7c}
#sit_inf_open td {padding:7px 10px;border:1px solid #eee;background:#fff;vertical-align:top;font-size:0.92em;color:#7c7c7c}

#item_tab li{width:25%;border-top:1px solid #ddd;}
#item_tab ul{border-right:1px solid #ddd}

/* 상품 상세보기 - 사용후기 */
#sit_use {}
#sit_use h2 {margin:0 0 10px;}
#sit_use h3 {position:absolute;font-size:0;line-height:0;content:""}
#sit_use  .sit_empty{border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}

#sit_use_ol {margin:0 0 5px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
.sit_use_li {position:relative;border-bottom:1px solid #e9e9e9;background:#fff;}
.sit_use_li_title {display:block;margin:0;padding:0;width:760px;border:0;background:none;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;text-align:left;cursor:pointer;line-height:40px;}

.sit_use_dl {position:Absolute;top:0;right:0;line-height:40px;font-size:0.92em;color:#777;text-align:center;zoom:1}
.sit_use_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_use_dl dt {float:left;}
.sit_use_dl dd {float:left;margin:0}
.sit_use_dl dd .st_bg{margin:0 8px}
.sit_use_star {margin:0 !important;padding:0 0 0 5px}

.sit_use_con {display:none;padding:10px;;background:#f3f3f3}
.sit_use_p {margin:0 0 10px;}
.sit_use_cmd {text-align:right;padding:0 0 10px}

#sit_use_wbtn {margin:10px 0;text-align:right}

#sit_use_write {}
#sit_use_write #is_subject {width:100%}
#sit_use_write ul {margin:5px 0 0}
#sit_use_write li {margin:0 0 5px}
#sit_use_write li label {display:inline-block;width:80px}
#sit_use_write_star {margin:0;padding:0;list-style:none}

/* 상품 상세보기 - 상품문의 */
#sit_qa {}
#sit_qa h2 {margin:0 0 10px}
#sit_qa h3 {position:absolute;font-size:0;line-height:0;content:""}
#sit_qa  .sit_empty{border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}

#sit_qa_ol {margin:0 0 5px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
.sit_qa_li {position:relative;border-bottom:1px solid #e9e9e9;background:#fff;}
.sit_qa_li_title {display:block;margin:0;padding:0;width:760px;border:0;background:none;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;text-align:left;cursor:pointer;line-height:40px;}

.sit_qa_dl {position:Absolute;top:0;right:0;line-height:40px;font-size:0.92em;color:#777;text-align:center;zoom:1}
.sit_qa_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_qa_dl dt {float:left}
.sit_qa_dl dd{float:left;margin:0}
.sit_qa_dl dd .st_bg{margin:0 8px}
.sit_qaa_done {color:#ff3061}
.sit_qaa_yet {color:#999}

.sit_qa_con {display:none;padding:10px;;background:#f3f3f3}
.sit_qa_p {margin:0 0 10px;}
.sit_qa_p strong {display:inline-block;margin:0 0 10px}
.sit_qa_qaq {margin:0 0 20px}
.sit_qa_con textarea {display:none}
.sit_qa_cmd {text-align:right}
.sit_qa_qaa{border-top:1px solid #ddd;padding-top:10px}
.sit_qa_pw {display:none;position:absolute;top:30px;left:175px;padding:10px;width:348px;border:1px solid #000;background:#fff;text-align:center}
.sit_qa_pw span {display:block;margin:0 0 5px}

#sit_qa_wbtn {margin:10px 0;text-align:right}

#sit_qa_write {}
#sit_qa_write #iq_subject {width:100%}

/* 상품 상세보기 - 배송정보 */
#sit_dvr {}
#sit_dvr h2 {margin:0 0 10px}

/* 상품 상세보기 - 교환정보 */
#sit_ex h2 {margin:0 0 10px}

/* 상품 상세보기 - 관련상품 */
#sit_rel {margin:0 0 10px;padding:30px;background:#fff;}
#sit_rel h2 {margin:0 0 10px}

/* 사용후기 모음 */
#sps_sch {margin:0 0 10px}
#sps_sch select{height:30px;}
#sps_sch a {display:inline-block;padding:0 8px;height:30px;background:#333;color:#fff;text-decoration:none;vertical-align:middle;line-height:30px}
#sps_sch .btn_submit {padding:0 8px;height:30px;vertical-align:middle}
#sps_sch .frm_input{background-color:#fff !important}

#sps {zoom:1}
#sps ol {margin:0;padding:0;border-top:1px solid #e9e9e9;list-style:none;background:#fff}
#sps li {position:relative;padding:10px;border-bottom:1px solid #e9e9e9}
#sps li:after {display:block;visibility:hidden;clear:both;content:""}

.sps_img {float:left;;width:80px}
.sps_img span {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sps dl {margin:5px 0 10px;zoom:1}
#sps dl:after {display:block;visibility:hidden;clear:both;content:""}
#sps dt {float:left}
#sps dd {float:left;margin:0 20px 0 5px}
#sps dd img {position:relative;top:-2px}

.sps_section {float:left;width:890px}
.sps_section p {padding:0;width:100%}
.sps_con_full {padding:0;height:auto !important}
.sps_con_btn {margin:5px 0 0;text-align:right}
.sps_con_btn button {margin:0;padding:5px;border:0;background:#565e60;color:#fff}

/* 상품문의 모음 */
#sqa_sch {margin:0 0 10px}
#sqa_sch a {display:inline-block;padding:0 8px;height:30px;background:#333;color:#fff;text-decoration:none;vertical-align:middle;line-height:30px}
#sqa_sch .btn_submit {padding:0 8px;height:30px;vertical-align:middle}
#sqa_sch .frm_input{background-color:#fff !important}
#sqa_sch  select{height:30px;}
#sqa {zoom:1}
#sqa ol {margin:0;padding:0;border-top:1px solid #e9e9e9;list-style:none;background:#fff}
#sqa li {position:relative;padding:10px;border-bottom:1px solid #e9e9e9}
#sqa li:after {display:block;visibility:hidden;clear:both;content:""}

.sqa_img {float:left;margin:0;width:80px}
.sqa_img span {position:absolute;font-size:0;line-height:0}

#sqa dl {margin:5px 0 10px;zoom:1}
#sqa dl:after {display:block;visibility:hidden;clear:both;content:""}
#sqa dt {float:left}
#sqa dd {float:left;margin:0 20px 0 5px}
#sqa dd img {position:relative;top:-2px}

.sqa_section {float:left;width:890px}
.sqa_section .sqa_con {padding:10px;background:#f2f5f9;line-height:1.7em}
.sqa_section p {padding:0;width:100%}
.sqa_con_full {padding:0;height:auto !important}
.sqa_con_btn {margin:5px 0 0;text-align:right}
.sqa_con_btn button {margin:0;padding:5px;border:0;background:#565e60;color:#fff}

/*쿠폰존 리스트*/
.couponzone_list{margin:0 0 50px;}
.couponzone_list h2{margin:0 0 5px}
.couponzone_list p{margin:0 0 5px;}
.couponzone_list ul{padding:0;margin:0;list-style:none}
.couponzone_list ul:after {display:block;visibility:hidden;clear:both;content:""}
.couponzone_list ul li{float:left;width:290px;height:230px;border:1px solid #ddd;background:#fff;padding:15px;;margin:0 10px 10px 0;line-height:1.2em}
.couponzone_list ul li img{width:100%;height:auto}
.couponzone_list ul li .coupon_img{height:125px;overflow:hidden;}
.couponzone_list ul li .coupon_tit{margin:10px 0 5px;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.couponzone_list ul li .coupon_date{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target{margin: 5px 0px;font-size:0.92em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_target a{color:#777;text-decoration:underline}
.couponzone_list ul li .coupon_point{margin: 5px 0px;font-size:0.92em;;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#777}
.couponzone_list ul li .coupon_btn{margin:10px 0;text-align:center}
.couponzone_list ul li .coupon_btn .btn02{width:100%;height:35px;line-height:35px;background:#ec2037;border-color:#42495c;color:#42495c;background:#fff;font-weight:bold;}
.couponzone_list ul li .coupon_btn .btn02:hover{background:#42495c;color:#fff}
.couponzone_list ul li .coupon_btn .disabled {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list ul li .coupon_btn .disabled:hover {background: #ddd;border:1px;color:#999;border-color:#ddd}
.couponzone_list .no_coupon{padding: 100px 0;text-align:center;color:#999}
#point_coupon li{height:250px;}