@charset "utf-8";

/* 최근게시물 스킨 (latest) */
.lt {position:relative;}
.lt ul {margin:0;padding:0;list-style:none}
.lt a {display:block;color:#000;text-decoration:none;}
.lt li a{display:block;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;list-style: none;}
.lt .lt_title {display:inline-block;color:#63a1b8;font-weight:bold;font-size:15px}
.lt .lt_more {position:absolute;top:5px;right:10px}
.lt .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}